* {
  box-sizing: border-box;
}

.translatable-form-component {
  text-align: left;
  width: 100%;
  position: relative;
}

.translatable-form-component fieldset {
  padding: 1rem 1rem 2rem;
  margin: 0;
  background-color: #1a1a1a;
}

.translatable-form-component ol.nolist {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.translatable-form-component ol li {
  margin: 0.5rem 0;
}

.translatable-form-component label {
  display: block;
  width: 100%;
}

.translatable-form-component input {
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.translatable-form-component .error {
  color: #ff6464;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  display: block;
}

.translatable-form-component .info {
  /* color: #888; */
  font-size: 0.75rem;
  margin-top: 0.25rem;
  display: block;
  min-height: 2.5rem;
  margin: 0;
  padding: 0.5rem 0.25rem;
}

.translatable-form-component label span {
  display: block;
  margin: 0.25rem 0;
}

.translatable-form-component button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.translatable-form-component button:hover {
  border-color: #646cff;
}
.translatable-form-component button:focus,
.translatable-form-component button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttons {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn.primary {
  background-color: #646cff;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

.btn.primary:hover {
  background-color: #535bf2;
}

.btn.tertiary {
  background-color: transparent;
  color: #646cff;
  border: 1px solid #646cff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

.btn.tertiary:hover {
  background-color: #646cff;
  color: #fff;
}
